{% extends "layout.html" %}

{% block title %}
<title>Password Reset</title>
{% endblock %}

{% block content %}
<!-- Page Container -->
<div class="container" style="max-width:800px;margin:80px">
	<div>Please enter the email of your account below</div>
	<form action="" method="post">
		{% csrf_token %}
		<div class="form-group">
				<input type="email" name="email" maxlength="254" required="" class="form-control" placeholder="Email">
		</div>
		{% for error in form.email.errors %} 
		<div class='alert alert-danger'>{{ error }}</div> 
		{% endfor %}
		{% if messages %}
		{% for message in messages %}
		{% if message.tags %}
		<div class="alert alert-success">{{ message }}</div>
		{% endif %}
		{% endfor %}
		{% endif %}
		<input type="submit" class="btn btn-outline-secondary float-right" value="Submit" />
	</form>
</div>

{% endblock %}












