{% extends "layout.html" %}
{% block title %}
<title>Change Password</title>
{% endblock %}

{% block content %}
<!-- Page Container -->
<div class="container" style="max-width:800px;margin-top:80px">
  <form id="changePasswordForm" action="{% url 'change_password' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <p><Label for="old_password">Old Password</Label><input type="password" name="old_password" id="id_old_password" class="form-control"></p>
      <p><Label for="new_password1">New Password</Label><input type="password" name="new_password1" id="id_new_password1" class="form-control"></p>
      <p><Label for="new_password2">New Password Confirmation</Label><input type="password" name="new_password2" id="id_new_password2" class="form-control"></p>
    </div>
    
    {% for error in form.old_password.errors %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    {% for error in form.new_password1.errors %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endfor %} 
    {% for error in form.new_password2.errors %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}        
    {% if messages %}
      {% for message in messages %}
        {% if message.tags %}
        <div class="alert alert-success">{{ message }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <input type="submit" class="btn btn-outline-secondary float-right" value="Submit" />
  </form>
</div>

{% endblock %}